@import "~bootstrap/scss/bootstrap.scss";

body{
    height: 100%;
    margin: 0;
}
.container {
    margin-top: 2rem;
    height: 47rem;
    width: 51rem;
 }
table
{
    height: 100%;
}
.table td {
    padding: 4rem;
} 
 td
{
    height: 15.7rem;
    width: 17rem;
    font-size: 4rem;
    border: dashed green 20px;

}
